@import "~antd/dist/antd.less";
.input-width {
  width: 200px;
  margin-bottom: 1rem;
}
.margin-box{
    margin: 0 1rem 1rem;
}
.interval-left {
  padding-left: 1rem;
}
.interval-right {
  padding-right: 1rem;
}
.interval-top {
  padding-top: 1rem;
}
.interval-bottom {
  padding-bottom: 1rem;
}
.pagination{
  margin-top:1rem;
  float: right;
}
.ant-table-tbody > tr > td{
  padding: 10px;
}